body {
    margin:4vw;
}
main {
    padding:4vw;
    border: 1px dotted #777;
}
h1,footer {
    text-align: center;
}
footer { 
    margin-top:1vw;
}
a, a:visited {
    text-decoration: none;
    font-weight:bold;
    color: #F7CAC9;
}
main {
    display: grid;
    grid-template-columns: 48vw 48vw;
    grid-template-rows: auto;
}
a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 10px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}
li {
    padding: 10px;
}
