{% extends 'base.html' %}

{% block content %}



<h1> {{cat.cat_name }}</h1>

{% if treat.treat_set.all|length > 0 %}

{% for t in treat.treat_set.all %}
<ul>
    <li> <a href="{% url 'cats:treat_detail' t.id %}"> {{t.treat_name}} </a>

    <a href="{% url 'cats:update_treat' t.id %}" class="button">Update</a>
    <a href="{% url 'cats:delete_treat' t.id %}" class="button">Delete</a>
    </li>
</ul>
{% endfor %}
{% endif %}

<a href="{% url 'cats:add_treat' cat.id %} ">Add a treat!</a>




{% endblock %}
