{% extends 'base.html' %}

{% block content %}



<h1> {{treat.treat_name }}</h1>

{% if treat.cat_set.all|length > 0 %}

{% for t in treat.cat_set.all %}
<ul>
    <li> {{t.treat_name}} 

    <a href="{% url 'treat:update_treat' t.id %}" class="button">Update</a>
    <a href="{% url 'treat:delete_treat' t.id %}" class="button">Delete</a>
    </li>
</ul>
{% endfor %}
{% endif %}
<a href="{% url 'treat:add_treat' treat.id %} ">Add a treat!</a>

<a href='{% url 'types:detail' type.id  %}'>Back</a>
{% endblock %}
